<app-shop-navigation></app-shop-navigation>
<div class="container">
  <div *ngIf="reservations && reservations.length">
    <app-product-quantity-list [reservations]="reservations"></app-product-quantity-list>

    <h2>Bestillinger</h2>
    <table class="table" style="margin-top: 0">
      <thead>
      <tr>
        <td>ID</td>
        <td>Dato</td>
        <td>Kunde</td>
        <td>Ordrelinjer</td>
        <td class="text-right">Omsetning</td>
        <td class="text-right">Fortjeneste</td>
        <td class="text-right">Leverandørgjeld</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let reservation of reservations">
        <td>{{reservation._id}}</td>
        <td>{{reservation.created | date: 'short'}}</td>
        <td>
          <div>{{reservation.customer.name}}</div>
          <div>{{reservation.customer.address}}</div>
          <div>{{reservation.customer.phoneNumber}}</div>
          <div>{{reservation.customer.email}}</div>
        </td>
        <td>
          <div *ngFor="let line of reservation.lines">
            {{line.product.logisticName}} - ({{line.sku.color}} {{line.sku.size}}) x {{line.quantity}}
          </div>
        </td>
        <td class="text-right">
          {{reservation.amount / 100}},-
        </td>
        <td class="text-right">
          {{reservation.profit / 100}},-
        </td>
        <td class="text-right">
          {{(reservation.amount - reservation.profit) / 100}},-
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="!reservations || (reservations && !reservations.length)">
    <h2>Ingen bestillinger enda</h2>
  </div>
</div>
