<app-navigation></app-navigation>
<div class="container">
  <div class="row" style="padding: 40px 0">
    <div class="col-md-8 offset-md-2">
      <h1>Personlig service</h1>
      <p style="font-size: 18px;">Noen lag og foreninger har mye erfaring og kompetanse på dugnader. Dere velger hvor
        tett oppfølging dere ønsker.
        Ønsker dere kun å bestille, finner dere alt som trengs på forsiden. Mange ønsker personlig service med fast
        kontaktperson, som følger opp tett med gode tips og hjelp til organisering. Noen ønsker en plan for å skape
        nødvendige inntekter over tid.</p>

      <h3>Organisering og materiell</h3>
      <p>Ta kontakt og fortell om behovet og målet deres, så utarbeider vi en dugnadsplan for dere. Vi kan følge dere
        gjennom hele prosjektet, og sørge for at forholdene blir lagt til rette for en god og effektiv dugnad.</p>

      <p>Her er noen eksempler på hva du kan få av oss:</p>

      <h5>Epost til deltakere/foreldre</h5>
      <ul>
        <li>Info om valg av dugnad, mål med dugnaden, produkter, priser osv.</li>
        <li>Info når dugnaden nærmer seg med salgstips til deltakere/foreldre</li>
        <li>Takk for innsatsen når dugnaden er gjennomført</li>
      </ul>

      <h5>Tilpasset presentasjon</h5>
      <p>Benyttes til salg på Facebook, egen nettside, e-post osv.</p>

      <h5>Bestillingslister</h5>
      <p>Brukes til å notere hvem du har solgt til og mottatt betaling fra.</p>

      <h5>Oversiktskjema</h5>
      <p>Her holder du oversikt over hele salget totalt for gruppen din.</p>

      <h5>Kvittering</h5>
      <p>Brukes ved salg til firmaer.</p>
    </div>
  </div>
</div>
<app-footer></app-footer>
