<app-navigation></app-navigation>

<div class="container">
  <div class="row" style="padding: 40px 0">
    <div class="col-md-8 offset-md-2">
      <h1>Om oss</h1>
      <h5><b><em>KVIKK</em></b> Dugnad er her for å bidra til å holde dugnaden levende, gjennom å forenkle og systematisere den.
        Vi tilbyr lag, foreninger, skoleklasser og russ en enkel og trygg måte å tjene penger til cup, klassetur,
        treningsleir eller drømmereisen. Vi har bakgrunn i idrettsmiljøet og kjenner dugnadsarbeid fra A til Å.</h5>

      <p>"Dugnad (n.) - Dugnad er et felles utført og vanligvis ulønnet og frivillig arbeid av betydning for
        fellesskapet
        eller en enkeltperson."</p>

      <p>Du er alltid velkommen til å kontakte oss.</p>


    </div>
  </div>
</div>

<app-footer></app-footer>
