<app-navigation></app-navigation>
<section id="about-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h1 class="page-title">Om oss</h1>
        <p>Vårt mål er å skape din beste dugnadsopplevelse. Vi vet at du ønsker å bruke tiden din til andre ting
          enn
          dugnad, og det er nettopp derfor vi jobber hver dag med å gjøre dugnaden enklere - både for de som
          arrangerer, og de som deltar.
        </p>
        <h5 class="text-left" style="margin-bottom: 5px; font-weight: bolder;">Hva gjør vi?</h5>
        <p>Online Dugnad tilbyr et skreddersydd system med hovedformål å forenkle dugnaden. Systemet er utviklet
          i
          tett samarbeid med ingeniører og jurister, for å gi både privatpersoner og organisasjoner en god og
          sikker kundeopplevelse. Vi tilbyr også
          personlig kundebehandling, både via telefon, mail og chat.</p>

        <h5 class="text-left" style="margin-bottom: 5px; font-weight: bolder;">Hvem er vi?</h5>
        <p>Online Dugnad AS er etablert av tre innovative menn fra Trondheim. Dette er også de samme personene
          som
          jobber hver eneste dag for at du skal få den beste dugnadsopplevelsen noensinne!</p>
      </div>
    </div>

    <div class="row justify-content-center" style="margin-top: 20px">
      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 text-center executive" *ngFor="let executive of executives">
            <img class="img-fluid" src="/assets/images/executives/{{executive.image.url}}.jpg"
                 alt="{{executive.image.alt}}"
                 style="border-radius: 50%; border: 2px solid #dddddd; margin-bottom: 7px">
            <p style="margin-bottom: 1px; font-weight: bolder">{{executive.name}}</p>
            <p>{{executive.position}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <app-call-to-action [image]="'computer.jpg'"
                      [readMore]="true"
                      [title]="'Digital dugnad gjør det enklere, både for deg og dine kunder'"
                      [subTitle]="'Lett å lære - Uforpliktende - Risikofritt - Nye inntektsmuligheter'"
  ></app-call-to-action>

  <app-footer></app-footer>
