<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4 class="sub-title" style="text-align: left; font-size: 22px;">Vi ønsker å forbedre oss</h4>
        <p>For å gi deg den beste dugnadsopplevelsen noensinne, trenger vi din hjelp! Om du har noen forslag til hvordan
          vi kan bli bedre, ta kontakt med vår kundeservice nederst til høyre.</p>
      </div>
      <div class="col-md-4">
        <h4 class="sub-title" style="text-align: left; font-size: 22px;">Nyttige lenker</h4>
        <ul class="list-unstyled">
          <li>
            <a [routerLink]="['/privatperson']">Informasjon for privatpersoner
            </a>
          </li>
          <li>
            <a [routerLink]="['/organisasjon']">Informasjon for organisasjoner
            </a>
          </li>
        </ul>
      </div>

      <div class="col-md-4">
        <h4 class="sub-title" style="text-align: left; font-size: 22px;">Kontaktinformasjon</h4>
        <ul class="list-unstyled contact">
          <li>
            <a href="mailto:kundeservice@onlinedugnad.no">
              <i class="fa fa-envelope" style="padding-top: 7px;"></i>kundeservice@onlinedugnad.no
            </a>
          </li>
          <li>
            <i class="fa fa-phone"></i>926 27 081
          </li>
          <li>
            <i class="fa fa-map-marker"></i>Thorvald Meyers gate 14, 0555 OSLO
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col text-center">
        <p>&copy; Alle rettigheter reservert - Online Dugnad AS<br>
          Organisasjonsnummer: 917 884 544</p>
      </div>
    </div>
  </div>
</footer>


