<footer class="footer">
  <div class="container">
    <div id="footer-row">
      <div id="info-col">
        <h4>Dugnad</h4>
        <p>Dugnad er et utpreget norsk ord, og er kåret til Norges nasjonalord i 2004. Dugnad betegnes som frivillig,
          ulønnet arbeid for et fellesskap.</p> <p>Kvikk Dugnad tilbyr en enklere, digitalisert dugnad med lettsolgte produkter
          som gir en høy fortjeneste til idrettslag, skoleklasser, russegrupper, russebusser og korps mm.</p>
      </div>
      <div id="links-col">
        <h4>Lenker</h4>
        <ul class="list-unstyled">
          <li>
            <a [routerLink]="['/']">Hjem</a>
          </li>
          <li>
            <a [routerLink]="['/tips']">Tips</a>
          </li>
          <li>
            <a [routerLink]="['/digital-dugnad']">Digital dugnad</a>
          </li>
          <li>
            <a [routerLink]="['/om-oss']">Om oss</a>
          </li>
          <li>
            <a [routerLink]="['/personvern']">Personvern</a>
          </li>
          <li>
            <a [routerLink]="['/vilkaar-og-betingelser']">Vilkår og betingelser</a>
          </li>
        </ul>
      </div>

      <div id="contact-col">
        <h4>Kontakt</h4>
        <ul class="list-unstyled contact">
          <li>
            <a href="mailto:kundeservice@onlinedugnad.no">
              <i class="fa fa-envelope" style="padding-top: 7px;"></i>kundeservice@onlinedugnad.no
            </a>
          </li>
          <li>
            <a href="tel:92627081"><i class="fa fa-phone"></i>926 27 081</a>
          </li>
          <li>
            <i class="fa fa-map-marker"></i>Thorvald Meyers gate 14, 0555 OSLO
          </li>
        </ul>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col text-center">
        <span id="copyright">&copy; Alle rettigheter reservert - Online Dugnad AS<br>
          Organisasjonsnummer: 917 884 544</span>
      </div>
    </div>
  </div>
</footer>


