footer {
  padding: 25px 0;
  margin-top: 80px;
  background-color: #dddddd;
}

.footer {
  font-weight: 300 !important;
}
footer .contact li {
  margin-bottom: 12px;
}

footer .contact li .fa {
  color: #008cba;
  font-size: 18px;
  width: 35px;
  height: 35px;
  background: white;
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin-right: 5px;
  text-align: center;
  padding-top: 8px;
}

footer .social li .fa {
  font-size: 30px;
  width: 45px;
  height: 45px;
  background: white;
  border: 1.7px solid #cccccc;
  border-radius: 5px;
  text-align: center;
  padding-top: 6px;
  transition: 0.4s;
  color: #3b5998;
}

footer .social li:hover .fa {
  background: #3b5998;
  color: white;
}

.footer .markets li {
  margin-right: 0;
  padding: 0;
}

.footer .markets li:after {
  content: ", ";
}

.footer .markets li:last-child:after {
  content: "";
}
