.footer {
  padding: 25px 0;
  background-color: #f6f8ff;
  font-size: 14px;
  font-weight: 300 !important;

  #footer-row {
    display: flex;
    justify-content: space-between;

    #info-col {
      flex: 0 1 350px;
    }

    #links-col {
      flex-basis: 160px;
    }

    #contact-col {
      flex-basis: 281px;

      .contact li {
        margin-bottom: 5px;

        .fa {
          color: #008cba;
          width: 30px;
          height: 30px;
          line-height: 13px;
          background: white;
          border: 1px solid #dddddd;
          border-radius: 5px;
          margin-right: 5px;
          text-align: center;
          padding-top: 8px;
        }
      }
    }
  }

  #copyright {
    font-size: 13px;
  }
}

@media (max-width: 992px) {
  .footer {
    #footer-row {
      flex-wrap: wrap;

      #info-col {
        flex-basis: 100%;
        order: 3;
      }

      #links-col {
        flex-basis: 100%;
        order: 2;
      }

      #contact-col {
        flex-basis: 100%;
        order: 1;
      }
    }
  }
}
