<h4>Kjenn <b>kvaliteten</b> selv!</h4>
<form role="form" id="order-sample-form" [formGroup]="myForm" (ngSubmit)="submitForm(myForm.value)" novalidate>
  <div class="form-group">
    <div class="float-label-container">
      <input type="text"
             class="form-control form-control-lg"
             formControlName="organization"
             id="organization"
             placeholder="Klubb/Gruppe">
      <label for="organization">Klubb/Gruppe</label>
      <i class="fa fa-users"></i>
      <div class="errors" *ngIf="myForm.get('organization').touched">
        <small class="error" *ngIf="myForm.get('organization').hasError('required')">Dette feltet er krevd.
        </small>
        <small class="error" *ngIf="myForm.get('organization').hasError('minlength')">Dette feltet er for kort.
        </small>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="float-label-container">
      <input type="tel"
             class="form-control form-control-lg"
             formControlName="phoneNumber"
             id="phoneNumber"
             placeholder="Telefonnummer">
      <label for="phoneNumber">Telefonnummer</label>
      <i class="fa fa-phone"></i>
      <div *ngIf="myForm.get('phoneNumber').touched" class="errors">
        <small class="error" *ngIf="myForm.get('phoneNumber').hasError('required')">Dette feltet er krevd.
        </small>
        <small class="error" *ngIf="myForm.get('phoneNumber').hasError('minlength')">Dette feltet er for kort.
        </small>
        <small class="error" *ngIf="myForm.get('phoneNumber').hasError('pattern')">Dette feltet har ugyldig verdi.
        </small>
      </div>
    </div>
  </div>

  <div class="form-group text-right">
    <button type="submit" class="btn btn-success">Bestill gratis vareprøver</button>
  </div>
</form>
