header {
  //background: url(../../../assets/images/header/header.jpg) center no-repeat;
  width: 100%;
  background-repeat: no-repeat !important;
  background-position: center top !important;
  height: calc(100vh - 120px);
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    //background: url(../../../assets/images/header/header_mobile.jpg) center no-repeat;
    background-position: center !important;
  }

  #title {
    font-weight: bold;
  }
}


@media (max-width: 768px) {
  #title {
    font-size: 26px;

  }

  #sale-sub-title {
    font-size: 18px;

  }

  #form-title {
    font-size: 18px;

  }
}
