header {
  //background: url(../../../assets/images/header/header.jpg) center no-repeat;
  width: 100%;
  background-repeat: no-repeat !important;
  background-position: center top !important;
  height: calc(100vh - 120px);
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    //background: url(../../../assets/images/header/header_mobile.jpg) center no-repeat;
    background-position: center !important;
  }
}

.sale-title {
}

.sale-sub-title {
  font-weight: 300;
}
