<app-navigation></app-navigation>

<div class="container">
  <h3>PERSONVERNREGLER - BEHANDLING AV PERSONDATA</h3>
  <p>I forbindelse med registrering i nettbutikken vil det bli innhentet persondata som f.eks. navn, adresse, e-post,
    mm. Disse data blir kun brukt internt i forbindelse med utsendelse av varer, betalingsløsning, kundekontakt, mm.
    Data som samles inn på nettbutikken blir ikke delt/solgt til en tredjepart og behandles og oppbevares etter Norsk
    Lov.

    Nettbutikken og tilhørende sider innhenter data vha. "cookies". Data som innhentes på denne måten brukes til
    statistiske formål, som måling av nettstedsytelse med mer. Leverandør av måleverktøyer er Google Analytics. Data som
    samles inn vha. "cookies", samles inn anonymt, og brukes kun av Online Dugnad AS til statistiske formål.</p>
</div>
