<app-navigation></app-navigation>

<div class="container-fluid">
  <div class="row justify-content-center" style="padding: 40px 0">
    <div class="col-md-8">
      <h1>Bestilling</h1>
      <p>Det kan være vanskelig å forutse hvilke størrelser og typer deres kunder vil ha, og av den grunn anbefaler vi å
        benytte dere av våre bestillingsskjemaer for å samle opp bestillinger fra kunder på forhånd. </p>

      <table class="table">
        <thead>
        <tr>
          <th></th>
          <th>
            Produkt
          </th>
          <th>
            Farge
          </th>
          <th>
            Antall
          </th>
          <th>
            Fortjeneste
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products">
          <td><img height="120" src="{{product.image.url}}" alt="{{product.image.alt}}"></td>
          <td>
            {{product.name}}
          </td>
          <td>
            {{product.color}}
          </td>
          <td>
            <div class="form-group" *ngFor="let size of product.sizes">
              <label style="margin-bottom: 0" for="{{size._id}}_quantity">{{size.value}}</label>
              <input class="form-control" type="number" [(ngModel)]="size.quantity"
                     id="{{size._id}}_quantity" (ngModelChange)="calculateProfits($event)" min="0">
            </div>
          </td>
          <td class="text-right">
            {{product.quantity * (product.profit / 100)}},-
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>Total fortjeneste</td>
          <td class="text-right"><b>kr {{totalProfit}},-</b></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-footer></app-footer>
