<section id="values">
  <div class="container">
    <h2 id="values-heading" class="text-center">Gjennomfør dugnaden med tre <b>enkle</b> steg</h2>
    <div class="row" id="values-row">
      <div class="value-col" *ngFor="let value of values">
        <div class="value text-center">
          <img src="{{value.image.src}}" class="img-fluid value-image" alt="{{value.image.alt}}">
          <span class="value-title">{{value.title}}</span>
        </div>
      </div>
    </div>
    <div class="text-center">
      <a class="btn btn-primary" [routerLink]="['/digital-dugnad']"><i class="fa fa-info-circle"></i>
        Les mer
      </a>
    </div>
  </div>
</section>
