.value {
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 10px 40px 0 rgba(62,57,107,.07), 0 2px 9px 0 rgba(62,57,107,.06);

 h4 {
   font-size: 20px;
 }
   p {
     font-size: 16px;
   }
 }
