<app-shop-navigation></app-shop-navigation>

<div class="container" style="margin-top: 40px;">
  <app-blocks [blocks]="blocks" *ngIf="blocks"></app-blocks>

  <div *ngIf="sellers && sellers.length">
    <h2>Selgere</h2>
    <table class="table table-hover" style="margin-top: 0">
      <thead>
      <tr>
        <td>Navn</td>
        <td class="text-right">Bestillinger</td>
        <td class="text-right">Omsetning</td>
        <td class="text-right">Fortjeneste</td>
        <td class="text-right">Leverandørgjeld</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let seller of sellers" [routerLink]="['/dugnad/' + club.url + '/selgere/' + seller._id]">
        <td>
          {{seller.name}}
        </td>
        <td class="text-right">
          <span *ngIf="seller.reservations">{{seller.reservations.length}}</span>
          <span *ngIf="!seller.reservations">0</span>
        </td>
        <td class="text-right">
          {{seller.turnOver / 100}},-
        </td>
        <td class="text-right">
          {{seller.totalProfit / 100}},-
        </td>
        <td class="text-right">
          {{seller.totalDebt / 100}},-
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="!sellers || (sellers && !sellers.length)">
    <h2>Ingen selgere</h2>
  </div>
</div>


