<app-navigation></app-navigation>

<div class="container">

  <h3>1. GENERELLE</h3>
  <p>1.1 Disse vilkår og betingelser ("Vilkårene") er gjeldene avtale mellom Online Dugnad AS og kjøpere i
    kvikkdugnad.no.</p>
  <p>1.2 De følgende vilkår er tilrettelagt for alle kjøpere. Gjennom å godkjenne Online Dugnad AS sine Vilkår og
    betinglser for organisasjoner ved registrering, aksepterer du disse vilkårene.</p>
  <p>1.3 Online Dugnad AS forbeholder seg retten til å endre vilkårene uten varsel. En slik endring vil dog ikke ha
    innvirkning på ordrer som ble sendt før de endrede vilkårene blir lagt ut på websiden.</p>
  <p>1.4 For eventuelle spørsmål eller kommentarer vedrørende vilkårene, varsel om uttak, kanselleringer, retur og
    refusjon, vennligst kontakt:</p>


    <p>Adresse: Ullevålsveien 109A, 0359 OSLO<br>

    E-post: kontakt@kvikkdugnad.no<br>

    Telefon: 926 27 081</p>

  <h3>2. LEVERING</h3>
  <p>3.1 Leveringstidspunkt avtales med Online Dugnad AS personlig, eventuelt med transportør.</p>
  <p>2.2 Det må være kjørbar vei for lastebil helt frem til leveringsadressen.</p>
  <p>2.3 Mottaker, må være tilgjengelig på telefon ved leveringsdagen.</p>
  <p>2.4 Dersom mottaker ikke er tilstede under levering, faktureres mottaker de ekstra kostnadene som måtte
    forekomme.</p>
  <p>2.5 Om vi mot all formodning ikke skulle klare å levere til avtalt tid, vil vi eller transportør kontakte dere
    tidligst mulig for å avtale ny leveringsdag. </p>

  <h3>3. PRISER, PROVISJONER OG LEVERINGSKOSTNADER</h3>
  <p>3.1 Alle priser er i NOK.
  <p>3.2 Gratis frakt. Skal varene leveres nord for Trondheim vil det forekomme fraktkostnader med mindre det blir
    bestilt over 200 enheter.
  <p>3.3 Fraktkostnader ved retur går på kjøpers regning.

  <h3>5. FORCE MAJEURE</h3>
  <p>Om leveringen forhindres eller blir forsinket på grunn av omstendigheter som ligger utenfor vår kontroll har vi
    rett til å heve ordren. Dette blir meddelt via post, e-post eller telefon.</p>

  <h3>6. GJELDENDE LOV</h3>
  <p>Denne avtalen skal reguleres av gjeldene lover for Norge.</p>

  <h3>7. ALDERSGRENSE FOR KJØP</h3>
  <p>Alle kjøp i kvikkdugnad.no krever at kjøper er 18 år eller eldre</p>
</div>
