<app-navigation></app-navigation>

<div class="container">
  <div class="row justify-content-center" style="padding: 40px 0">
    <div class="col-md-8">
      <h1>Digitalt bestillingsskjema</h1>

      <h5>Kvikt, enkelt og risikofritt</h5>
      <ol>
        <li>Dere mottar en unik lenke der deres kunder kan reservere produkter.
          <ul>
            <li>Bruk <b>Facebook</b> og <b>e-post</b> til å sende rundt denne lenken, og be deres medlemmer om å gjøre det samme.</li>
          </ul>
        </li>
        <li>Dere har alltid <strong>full oversikt og kontroll</strong> over alle reservasjoner</li>
        <li>Dere bestemmer selv hvordan dere vil ta av dere pengehåndtering - vi anbefaler å bruke <b>Vipps</b></li>
        <li>Bestill opp alle reserverte produkter med et klikk</li>
      </ol>

      <p>Høres dette interessant ut? Send en forespørsel på <b>gratis vareprøver</b>, så tar vi kontakt med dere!</p>

      <div class="row">
        <div class="col text-center">
          <app-order-sample-button></app-order-sample-button>
        </div>
      </div>

    </div>
  </div>
</div>

<app-footer></app-footer>
