.step {
  border: 1px solid #e0e0e0;
  background-color: white;
  padding: 15px 10px;
  text-align: center;
  transition: all 0.3s ease;
}

.step i {
  font-size: 20px;
  margin-bottom: 5px;
}

#pros-list {
  li {
    padding: 5px 0;
  }
}
