<!-- Inliner Build Version 4380b7741bb759d6cb997545f3add21ad48f010b -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml"
      style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Online Dugnad - Introduksjon</title>
</head>
<body bgcolor="#FFFFFF"
      style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; margin: 0; padding: 0;">
<style type="text/css">
    @media only screen and (max-width: 600px) {
        a[class="btn"] {
            display: block !important;
            margin-bottom: 10px !important;
            background-image: none !important;
            margin-right: 0 !important;
        }

        div[class="column"] {
            width: auto !important;
            float: none !important;
        }

        table.social div[class="column"] {
            width: auto !important;
        }
    }
</style>

<!-- HEADER -->
<table class="head-wrap" bgcolor="#FFFFFF"
       style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; margin: 0; padding: 0;">
    <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
        <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"></td>
        <td class="header container"
            style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto; padding: 0;">

            <div class="content"
                 style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 600px; display: block; margin: 0 auto; padding: 15px;">
                <table bgcolor="#FFFFFF"
                       style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; margin: 0; padding: 0;">
                    <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
                        <td align="center"
                            style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
                            <img src="https://onlinedugnad.no/assets/images/Online-Dugnad_Logo@250x250.png"
                                 style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 100%; height: 200px; margin: 0; padding: 0;"/>
                        </td>
                    </tr>
                </table>
            </div>

        </td>
        <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"></td>
    </tr>
</table><!-- /HEADER --><!-- BODY -->
<table class="body-wrap"
       style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; margin: 0; padding: 0;">
    <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
        <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"></td>
        <td class="container" bgcolor="#FFFFFF"
            style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto; padding: 0;">

            <div class="content"
                 style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 600px; display: block; margin: 0 auto; padding: 15px;">
                <table style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; margin: 0; padding: 0;">
                    <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
                        <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
                            <h3 style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; line-height: 1.1; color: #000; font-weight: 500; font-size: 27px; margin: 0 0 15px; padding: 0;">
                                Hei {{name}},</h3>
                            <p class="lead"
                               style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 17px; line-height: 1.6; margin: 0 0 10px; padding: 0;">
                                Velkommen til et gledelig partnerskap med Online Dugnad. Vi er her for dere og har lyst
                                til å komme med noen tips om hvordan dere skal komme i gang og få mest mulig ut av
                                dugnaden.</p>

                            <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; margin: 0 0 10px; padding: 0;">
                                Dette er et nytt konsept, derfor er det viktig at dere planlegger godt hvordan dere skal
                                informere deres medlemmer om hvordan systemet fungerer. Om konseptet blir formidlet godt
                                nok, slik at alle medlemmer forstår 100% hvordan det fungerer og hvilke fordeler det gir
                                dem så vil dere allerede få gode resultater.
                                <br><br>
                                Når alle forstår hvordan alt fungerer, så begynner det å bli på tide å sette seg mål.
                                Dere burde ha et felles mål om hvor mye dere skal samle inn, og et personlig mål for
                                hvert medlem. Det kan ofte lønne seg å ha en gulrot som venter om man når sitt mål, men
                                det får dere avgjøre selv. Det kunne f.eks vært reduksjon i medlemsavgift, enten felles
                                eller hver for seg. Eller at dere deltar på en stor cup, hvor dere eventuelt kan dekke
                                reiseutgifter. Oppsamling til ny bane etc. Mulighetene er mange, men poenget er at folk
                                flest drives ofte av hva de selv kan få ut av det.
                                <br><br>
                                Når presise mål er satt, gjenstår det bare å planlegge hvordan dere ska nå målet. Da er
                                et godt tips at medlemmene skriver en liste med alle de kjenner som potensielt kan
                                støtte idrettslaget/organisasjonen. Planlegge hvordan de skal ta kontakt (via sosiale medier, telefon eller
                                personlig oppmøte). Utfør og deretter kryss av navnet. Kjør gjerne på med en annen
                                taktikk, dette er bare et tips. Men bemerk dere at det er nødvendig med mål og en god
                                plan for å gå fra gode til fremragende resultater.
                                <br><br>
                                Vi anbefaler alle å dele på sosiale medier. Gjør man det så kan man ofte få med støttere
                                som dere ikke hadde tenkt på. Dere kan henge opp plakater ved banen eller området dere
                                holder til, og om dere har lyst så skal vi hjelpe til med design. Det er mye man kan
                                gjøre for å øke salget, så her gjelder det å planlegge og tenke litt utenfor boksen.
                                <br><br>
                                Et siste tips er å lage en salgstekst som deres medlemmer kan enten videresende eller
                                skrive ut og dele ut til bekjente. Vi skulle gjerne bistått med dette selv, men vi
                                tenker det er bedre at det kommer fra dere enn oss.
                                <br><br>
                                PS. Kjøpere kan skrive inn navnet til medlemmet som fikk dem til å kjøpe. Deres
                                medlemmer må derfor huske å be kunder skrive navnet til medlemmet hvis dere vil ha oversikt over hvem som
                                gjør en innsats, og motsatt.
                                <br><br>
                                Lykke til!
                            </p>
                            <!-- Callout Panel -->
                            <p class="callout"
                               style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; background: #ECF8FF; margin: 0 0 15px; padding: 15px;">
                                Om dere trenger hjelp, kan dere ta kontakt med vår kundeservice nederst til høyre på <a
                                    href="https://www.onlinedugnad.no"
                                    style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #2BA6CB; font-weight: bold; margin: 0; padding: 0;">onlinedugnad.no</a>,
                                vi er mer enn villig til å
                                hjelpe dere.
                            </p><!-- /Callout Panel -->

                            <!-- social & contact -->
                            <table class="social" width="100%"
                                   style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; background: #EEEEEE; margin: 0; padding: 0;"
                                   bgcolor="#EEEEEE">
                                <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
                                    <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">

                                        <!-- column 1 -->
                                        <table align="left" class="column"
                                               style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 280px; float: left; min-width: 279px; margin: 0; padding: 0;">
                                            <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
                                                <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 15px;">
                                                    <h5 class=""
                                                        style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; line-height: 1.1; color: #000; font-weight: 900; font-size: 17px; margin: 0 0 15px; padding: 0;">
                                                        Besøk oss</h5>
                                                    <p class=""
                                                       style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; margin: 0 0 10px; padding: 0;">
                                                        <a href="https://www.onlinedugnad.no" class="soc-btn tw"
                                                           style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #FFF; font-size: 12px; text-decoration: none; font-weight: bold; display: block; text-align: center; background-color: #1daced !important; margin: 0 0 10px; padding: 3px 7px;">onlinedugnad.no</a>
                                                        <a href="https://facebook.com/onlinedugnad" class="soc-btn fb"
                                                           style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #FFF; font-size: 12px; text-decoration: none; font-weight: bold; display: block; text-align: center; background-color: #3B5998 !important; margin: 0 0 10px; padding: 3px 7px;">Facebook</a>
                                                    </p>
                                                </td>
                                            </tr>
                                        </table><!-- /column 1 --><!-- column 2 -->
                                        <table align="left" class="column"
                                               style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 280px; float: left; min-width: 279px; margin: 0; padding: 0;">
                                            <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
                                                <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 15px;">
                                                    <h5 class=""
                                                        style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; line-height: 1.1; color: #000; font-weight: 900; font-size: 17px; margin: 0 0 15px; padding: 0;">
                                                        Med vennlig hilsen</h5>
                                                    <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; margin: 0 0 10px; padding: 0;">
                                                        <strong style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">Online
                                                            Dugnad AS</strong><br
                                                            style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"/>
                                                        En enklere dugnadsløsning<br
                                                            style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"/><a
                                                            href="mailto:kontakt@onlinedugnad.no"
                                                            style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #2BA6CB; margin: 0; padding: 0;">
                                                        kontakt@onlinedugnad.no
                                                    </a>
                                                    </p></td>
                                            </tr>
                                        </table><!-- /column 2 --><span class="clear"
                                                                        style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; display: block; clear: both; margin: 0; padding: 0;"></span>

                                    </td>
                                </tr>
                            </table><!-- /social & contact --></td>
                    </tr>
                </table>
            </div><!-- /content -->
        </td>
        <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"></td>
    </tr>
</table><!-- /BODY --></body>
</html>
