<app-navigation *ngIf="!club && !loading"></app-navigation>
<app-shop-navigation *ngIf="club && !loading"></app-shop-navigation>
<app-cart *ngIf="club && !loading"></app-cart>

<section id="product-detail-section" *ngIf="product">
  <div class="container">
    <div class="row">
      <div class="col-md-5 text-center">
        <img class="img-fluid" src="{{selectedImage.url}}" alt="{{selectedImage.alt}}" *ngIf="selectedImage">
        <div class="row" style="margin: 10px 0;">
          <div class="col-3 thumbnail-col" *ngFor="let image of product.images">
            <img class="thumbnail img-fluid" (click)="selectImage(image)"
                 src="{{image.url}}" alt="{{image.alt}}" [ngClass]="{active: image===selectedImage}">
          </div>
        </div>
      </div>
      <div class="col-md-7" id="content-col">
        <h1>{{product.name}}</h1>
        <b>{{product.caption}}</b>
        <p style="white-space: pre-wrap">{{product.description}}</p>

        <b *ngIf="!club">Dere tjener {{product.profit2 / 100}},-</b>
        <b *ngIf="club">Du støtter {{product.profit2 / 100}},-</b>
        <p *ngIf="!club">Anbefalt salgspris {{product.price2 / 100}},-</p>
        <p *ngIf="club">Pris {{product.price2 / 100}},-</p>

        <button class="btn btn-secondary" (click)="openSizeGuide(product)"
                *ngIf="product.name == 'Hipstertruser (3-pack)' || product.name == 'Boxershorts (3-pack)'"><i
          class="fa fa-question-circle-o"></i> Størrelsesguide
        </button>

        <table class="table" *ngIf="boxerSizeGuide">
          <thead>
          <tr>
            <th>Størrelse</th>
            <th>Omkrets rundt midje (cm)</th>
            <th>Omkrets rundt midje (tommer)</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Extra Small</td>
            <td>71-76 cm</td>
            <td>28-30''</td>

          </tr>
          <tr>
            <td>Small</td>
            <td>76-81,5 cm</td>
            <td>30-32''</td>
          </tr>
          <tr>
            <td>Medium</td>
            <td>81,5-86,5 cm</td>
            <td>32-34''</td>
          </tr>
          <tr>
            <td>Large</td>
            <td>86,5-91,5 cm</td>
            <td>34-36''</td>
          </tr>
          <tr>
            <td>Extra Large</td>
            <td>91,5-96,5 cm</td>
            <td>36-38''</td>
          </tr>
          </tbody>
        </table>

        <table class="table" *ngIf="hipsterSizeGuide">
          <thead>
          <tr>
            <th>Størrelse</th>
            <th>Omkrets rundt midje (cm)</th>
            <th>Omkrets rundt midje (tommer)</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Extra Small</td>
            <td>81-86,5 cm</td>
            <td>32-34''</td>
          </tr>
          <tr>
            <td>Small</td>
            <td>91,5-96,5 cm</td>
            <td>36-38''</td>
          </tr>
          <tr>
            <td>Medium</td>
            <td>101,5-106,5 cm</td>
            <td>40-42''</td>
          </tr>
          <tr>
            <td>Large</td>
            <td>112-117 cm</td>
            <td>44-46''</td>
          </tr>
          <tr>
            <td>Extra Large</td>
            <td>122-127 cm</td>
            <td>48-50''</td>
          </tr>
          </tbody>
        </table>

        <div class="row" style="margin-top: 20px">
          <div class="col text-center">
            <div class="form-group" *ngIf="colors.length">
              <label>
                Farger
              </label><br>
              <ul class="list-inline">
                <li class="attribute list-inline-item" *ngFor="let color of colors" (click)="selectColor(color)"
                    [ngClass]="{active: color===selectedColor}">{{color}}
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col text-center">
            <div class="form-group" *ngIf="sizes.length">
              <label>
                Størrelser
              </label><br>
              <ul class="list-inline">
                <li class="attribute list-inline-item" *ngFor="let size of sizes" (click)="selectSize(size)"
                    [ngClass]="{active: size===selectedSize}">{{size}}
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div *ngIf="cartEnabled">
          <div class="row" style="margin: 10px 0 20px 0;">
            <div class="col text-center">
              <button class="btn btn-primary" (click)="addToCart()"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                Legg
                i handlekurv
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer *ngIf="!club && !loading"></app-footer>
