<app-navigation></app-navigation>

<div class="container">
  <div class="row justify-content-center" style="padding: 40px 0">
    <div class="col-md-8">
      <h1>Dugnad på 1-2-3</h1>
      <p>For de som ikke har arrangert dugnad tidligere eller rett og slett har lyst på litt tips - her er en enkel
        guide.</p>

      <ul>
        <li><b>Definer målet</b> med dugnaden (Treningsleir, russebuss etc.).</li>
        <li><b>Regn ut</b> hvor mye dere må tjene for å nå målet - deretter regn ut med kalkulatoren på "digital dugnad" over
          hvor mye dere trenger å selge.
        </li>
        <li><b>Kom i gang</b> med salget! Bruk vår digitale bestillingskjema for å samle opp bestillinger på
          forhånd og så opprett en ordre når dere er i mål. Husk dere kan gjennomføre flere dugnader gjennom året. F.eks
          høst og vår.
        </li>
      </ul>

      <h5>Bestilling</h5>
      <p>Når dere har samlet opp bestillinger er det på tide å opprette en ordre. Med digitalt bestillingsskjema samles
        alle bestillinger opp automatisk.
      </p>
      <p>Etter bestilling så vil det ta ca. 2-5 dager til varene ankommer den lokale butikken, med mindre annet er avtalt.


      <h5>Øk fortjeneste ved å holde gruppen informert og motivert</h5>
      <ol>
        <li>Send e-post eller avhold et møte med alle deltakere/foreldre i gruppen om dugnaden. Skriv litt om hva målet er og hva dere vil få
          ut av dugnaden om alle bidrar.
        </li>
        <li>Hele gruppa har alltid oversikt over hvordan salget går.
        </li>
        <li>Om noen ikke har gjort så mange slag - oppmuntre han/hun til å komme bedre i gang.</li>
        <li>Husk å alltid takke kundene for støtten, kanskje støtter de dere igjen ved neste runde også</li>
      </ol>

      <h5>Øk fortjeneste ved forbederedelse og salg</h5>
      <ol>
        <li>Hvem er deres kjøpere? - Alle har jevnt behov for nye sokker og undertøy. Hvis man har mulighet til å støtte
          en gruppe som dere og samtidig få det levert på døra så er mange villige til å kjøpe. Skriv en liste over
          potensielle kjøpere og deretter ta kontakt med hver og en. Deres kunder er ofte familie, naboer, bekjente og
          kollegaer av mor og far.
        </li>
        <li>Hvordan ta kontakt og hva skal vi si? - Det optimale er å ta personlig kontakt ansikt til ansikt, men
          telefon fungerer også bra. Fortell litt om gruppa deres og hva pengene skal gå til og salget er ofte i boks!
          Aldri mist motet om noen ikke kjøper, smil alltid gjennom samtalen, sett pris på at de tok seg tid og takke
          for kjøpet.
        </li>
        <li>For å få inn litt ekstra salg så er det alltid lurt å dele aksjonen på gruppens sider (Facebook, Instagram,
          hjemmeside) og at alle deltakere deler på sosiale medier. For de modige kan dere også sette opp en liten stand
          på den lokale butikken eller lignende.
        </li>
      </ol>
      <p>For å øke salget enda mer så anbefaler vi at dere kjøper inn en eller to produkter til hver deltaker på
        forhånd slik at kundene kan se og kjenne på kvaliteten.</p>
    </div>
  </div>
</div>

<app-call-to-action [image]="'computer.jpg'"
                    [readMore]="true"
                    [title]="'Digital dugnad gjør det enklere, både for deg og dine kunder'"
                    [subTitle]="'Lett å lære - Uforpliktende - Risikofritt - Nye inntektsmuligheter'"
></app-call-to-action>
<app-footer></app-footer>

