<app-navigation></app-navigation>

<div class="container">
  <div class="row" style="padding: 40px 0">
    <div class="col-md-8 offset-md-2">
      <h1>Tips og info</h1>

      <h5>Hvorfor oss?</h5>
      <p>Kvikk Dugnad leverer kun dugnadsprodukter av topp kvalitet. Alle våre produkter kommer fra merkevaren Visione
        som er inspirert fra Italia.</p>
      <p>Men det er ikke det beste!</p>
      <p>Dere får en <strong>høy fortjeneste</strong> ved å gjennomføre dugnad via oss, og produktene er små som gjør
        det svært enkelt å
        levere dem ut. Ingen trenger å fylle opp kjelleren sin og dere får solgt varene, enkelt og kvikt!</p>

      <h5>Risikofritt</h5>
      <p>Vi tilbyr dugnad til alle mulige grupper (idrettslag, russ, klasser, korps m.m.). Dere får muligheten til å
        selge varene før betaling som fører til null risiko! Vi har ingen minstekrav på bestillinger så dere velger helt
        fritt hvor mye dere skal selge/tjene.</p>

      <h5>Skreddersy dugnaden ut i fra dine behov</h5>
      <p>Hos oss har dere 2 alternativer på hvordan dere vil selge varene. Begge har faktura med 3 uker
        betalingsfrist.</p>

      <ol>
        <li>
          <h6><b>Tradisjonelt bestillingsskjema</b></h6>
          <p>Last ned skjema, del ut til gruppen og sett i gang med å samle inn bestillinger. Når dere er i mål så
            samler dere sammen bestillingene og legger det inn til en ordre på “bestilling” eller send oss en mail på
            <a href="mailto:kontakt@kvikkdugnad.no">kontakt@kvikkdugnad.no</a>.</p>
        </li>
        <li>
          <h6><b>Digitalt bestillingsskjema [ANBEFALT]</b></h6>
          <p>Her får dere en unik “nettbutikk” med våre produkter. Alle deltakere i gruppen/laget mottar en link som kan
            deles med naboer, familie og bekjente slik at de kommer direkte inn på nettsiden. Der velger de hvilke
            produkter de har lyst på, mens dere har full oversikt over hvor mange bestillinger som har kommet inn. Når
            dere er i mål - trykk bekreft ordre og vi tar kontakt fortløpende for å avtale leveringstidspunkt.</p>
          <p><b>Merk! </b>Dere kan legge inn bestillinger for noen andre som kanskje ikke har mulighet til å gå inn på
            nettsiden. Det er også mulig å bestille uten noe skjema, men da blir det fort slik at dere må sende usolgte
            varer i retur da det er vanskelig å vite størrelsene til deres forskjellige kunder. </p>
        </li>
      </ol>

      <p>Uansett hvilken metode dere velger så hjelper vi dere med glede gjennom prosessen! Skriv til oss i chatten ned
        til høyre, hvis det er utenfor vår åpningstid (9-21) så kan dere fortsatt skrive og vi svarer på mail så fort vi
        ser det. </p>

      <hr>

      <h5>Dugnad på 1-2-3</h5>
      <p>For de som ikke har arrangert dugnad tidligere eller rett og slett har lyst på litt tips - her er en enkel
        guide.</p>

      <ul>
        <li><b>Definer målet</b> med dugnaden, Treningsleir, russebuss eller hva dere skal gjøre.</li>
        <li><b>Regn ut</b> hvor mye dere må tjene for å nå målet - deretter regn ut med kalkulatoren på hovedsiden over
          hvor mye dere trenger å selge.
        </li>
        <li><b>Kom i gang</b> med salget! Bruk et av våre bestillingsskjema for å samle opp bestillinger på
          forhånd og så opprett en ordre når dere er i mål. Husk dere kan gjennomføre flere dugnader gjennom året. F.eks
          høst og vår.
        </li>
      </ul>

      <h5>Bestilling</h5>
      <p>Når dere har samlet opp bestillinger er det på tide å opprette en ordre. Med digitalt bestillingsskjema samles
        alle bestillinger opp automatisk, hvis dere bruker tradisjonelt så legger dere inn antall og type varer selv i
        “bestilling”.
      </p>
      <p>Uansett hvordan dere velger å gjøre det, så tar vi kontakt når dere har lagt inn en ordre slik at vi kan avtale
        leveringstidspunkt. Når vi sender varene, vil dere også motta en faktura med 3 ukers betalingsfrist slik at dere
        kan selge varene før dere betaler.</p>


      <h5>Øk fortjeneste ved å holde gruppen informert og motivert</h5>
      <ol>
        <li>Send e-post til alle deltakere/foreldre i gruppen om dugnaden. Skriv litt om hva målet er og hva dere vil få
          ut av dugnaden om alle bidrar.
        </li>
        <li>Hold alle oppdatert om hvordan salget går. Med digitalt bestillingsskjema så vil kjøpere få muligheten til å
          skrive inn hvem de har kjøpt av, noe som hovedansvarlig vil ha oversikt over.
        </li>
        <li>Takk alle for god innsats. Nevn gjerne hva dere har klart å samle inn og hvor mye det betyr.</li>
      </ol>

      <h5>Øk fortjeneste ved forbederedelse og salg</h5>
      <ol>
        <li>Hvem er deres kjøpere? - Alle har jevnt behov for nye sokker og undertøy. Hvis man har mulighet til å støtte
          en gruppe som dere og samtidig få det levert på døra så er mange villige til å kjøpe. Skriv en liste over
          potensielle kjøpere og deretter ta kontakt med hver og en. Deres kunder er ofte familie, naboer, bekjente og
          kollegaer av mor og far.
        </li>
        <li>Hvordan ta kontakt og hva skal vi si? - Det optimale er å ta personlig kontakt ansikt til ansikt, men
          telefon fungerer også bra. Fortell litt om gruppa deres og hva pengene skal gå til og salget er ofte i boks!
          Aldri mist motet om noen ikke kjøper, smil alltid gjennom samtalen, sett pris på at de tok seg tid og takke
          for kjøpet.
        </li>
        <li>For å få inn litt ekstra salg så er det alltid lurt å dele aksjonen på gruppens sider (Facebook, Instagram,
          hjemmeside) og at alle deltakere deler på sosiale medier. For de modige kan dere også sette opp en liten stand
          på den lokale butikken eller lignende.
        </li>
      </ol>
      <p>For å øke salget enda mer så anbefaler vi at dere kjøper inn en eller to produkter til hver deltaker på
        forhånd. Hvorfor tenker du? Kvaliteten er topp, og når potensielle kjøpere får kjenne på hvordan varene er så
        fører det til en mye høyere sjanse for at de har lyst å kjøpe.</p>
    </div>
  </div>
</div>

<app-footer></app-footer>

