<app-navigation></app-navigation>

<div class="container">
  <div class="row" style="padding: 40px 0">
    <div class="col-md-8 offset-md-2">
      <h1>Dugnad på 1-2-3</h1>
      <p>For de som ikke har arrangert dugnad tidligere eller rett og slett har lyst på litt tips - her er en enkel
        guide.</p>

      <ul>
        <li><b>Definer målet</b> med dugnaden, Treningsleir, russebuss eller hva dere skal gjøre.</li>
        <li><b>Regn ut</b> hvor mye dere må tjene for å nå målet - deretter regn ut med kalkulatoren på hovedsiden over
          hvor mye dere trenger å selge.
        </li>
        <li><b>Kom i gang</b> med salget! Bruk et av våre bestillingsskjema for å samle opp bestillinger på
          forhånd og så opprett en ordre når dere er i mål. Husk dere kan gjennomføre flere dugnader gjennom året. F.eks
          høst og vår.
        </li>
      </ul>

      <h5>Bestilling</h5>
      <p>Når dere har samlet opp bestillinger er det på tide å opprette en ordre. Med digitalt bestillingsskjema samles
        alle bestillinger opp automatisk, hvis dere bruker tradisjonelt så legger dere inn antall og type varer selv i
        “bestilling”.
      </p>
      <p>Uansett hvordan dere velger å gjøre det, så tar vi kontakt når dere har lagt inn en ordre slik at vi kan avtale
        leveringstidspunkt. Når vi sender varene, vil dere også motta en faktura med 3 ukers betalingsfrist slik at dere
        kan selge varene før dere betaler.</p>


      <h5>Øk fortjeneste ved å holde gruppen informert og motivert</h5>
      <ol>
        <li>Send e-post til alle deltakere/foreldre i gruppen om dugnaden. Skriv litt om hva målet er og hva dere vil få
          ut av dugnaden om alle bidrar.
        </li>
        <li>Hold alle oppdatert om hvordan salget går. Med digitalt bestillingsskjema så vil kjøpere få muligheten til å
          skrive inn hvem de har kjøpt av, noe som hovedansvarlig vil ha oversikt over.
        </li>
        <li>Takk alle for god innsats. Nevn gjerne hva dere har klart å samle inn og hvor mye det betyr.</li>
      </ol>

      <h5>Øk fortjeneste ved forbederedelse og salg</h5>
      <ol>
        <li>Hvem er deres kjøpere? - Alle har jevnt behov for nye sokker og undertøy. Hvis man har mulighet til å støtte
          en gruppe som dere og samtidig få det levert på døra så er mange villige til å kjøpe. Skriv en liste over
          potensielle kjøpere og deretter ta kontakt med hver og en. Deres kunder er ofte familie, naboer, bekjente og
          kollegaer av mor og far.
        </li>
        <li>Hvordan ta kontakt og hva skal vi si? - Det optimale er å ta personlig kontakt ansikt til ansikt, men
          telefon fungerer også bra. Fortell litt om gruppa deres og hva pengene skal gå til og salget er ofte i boks!
          Aldri mist motet om noen ikke kjøper, smil alltid gjennom samtalen, sett pris på at de tok seg tid og takke
          for kjøpet.
        </li>
        <li>For å få inn litt ekstra salg så er det alltid lurt å dele aksjonen på gruppens sider (Facebook, Instagram,
          hjemmeside) og at alle deltakere deler på sosiale medier. For de modige kan dere også sette opp en liten stand
          på den lokale butikken eller lignende.
        </li>
      </ol>
      <p>For å øke salget enda mer så anbefaler vi at dere kjøper inn en eller to produkter til hver deltaker på
        forhånd. Hvorfor tenker du? Kvaliteten er topp, og når potensielle kjøpere får kjenne på hvordan varene er så
        fører det til en mye høyere sjanse for at de har lyst å kjøpe.</p>
    </div>
  </div>
</div>

<app-footer></app-footer>

