<app-navigation></app-navigation>

<section id="contact-me-section" class="full-height-section">
  <div class="container">
    <div class="box pad-box">
      <h1 class="text-center" style="margin-bottom: 20px">Kontakt meg</h1>
      <form role="form" [formGroup]="myForm" (ngSubmit)="submitForm(myForm.value)" novalidate>
        <div class="form-group">
          <input type="text"
                 class="form-control" formControlName="organization"
                 placeholder="Klubb/Organisasjon/Russegruppe">
          <div *ngIf="myForm.get('organization').touched">
            <small class="error" *ngIf="myForm.get('organization').hasError('required')">Dette feltet er krevd.
            </small>
            <small class="error" *ngIf="myForm.get('organization').hasError('minlength')">Dette feltet er for kort.
            </small>
          </div>
        </div>

        <div class="form-group">
          <input type="email"
                 class="form-control"
                 formControlName="email"
                 placeholder="E-post">
          <div *ngIf="myForm.get('email').touched">
            <small class="error" *ngIf="myForm.get('email').hasError('required')">Dette feltet er krevd.
            </small>
            <small class="error" *ngIf="myForm.get('email').hasError('minlength')">Dette feltet er for kort.
            </small>
            <small class="error" *ngIf="myForm.get('email').hasError('pattern')">Dette feltet har ugyldig verdi.
            </small>
          </div>
        </div>

        <div class="form-group">
          <input type="tel"
                 class="form-control" formControlName="phoneNumber"
                 placeholder="Telefonnummer">
          <div *ngIf="myForm.get('phoneNumber').touched">
            <small class="error" *ngIf="myForm.get('phoneNumber').hasError('required')">Dette feltet er krevd.
            </small>
            <small class="error" *ngIf="myForm.get('phoneNumber').hasError('minlength')">Dette feltet er for kort.
            </small>
            <small class="error" *ngIf="myForm.get('phoneNumber').hasError('pattern')">Dette feltet har ugyldig
              verdi.
            </small>
          </div>
        </div>

        <div class="row">
          <div class="col text-right">
            <button type="submit" class="btn btn-success">Send forespørsel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<app-footer></app-footer>
