<app-navigation></app-navigation>

<app-header [image]="'school'"></app-header>

<app-values></app-values>

<hr style="width: 50%; min-width: 350px; margin: 0 auto;">

<app-product-list [frontPage]="true" [products]="products"></app-product-list>

<hr style="width: 50%; min-width: 350px; margin: 0 auto;">

<app-references></app-references>

<app-call-to-action [image]="'computer.jpg'"
                    [readMore]="true"
                    [title]="'Digital dugnad gjør det enklere, både for deg og dine kunder'"
                    [subTitle]="'Lett å lære - Uforpliktende - Risikofritt - Nye inntektsmuligheter'"
></app-call-to-action>

<app-footer></app-footer>
