@import "../../../assets/styles/variables";

#testimonials {
  padding: 40px 0;

  #testimonials-row {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .reference {
      padding: 0 30px;
      flex: 0 1 600px;

      .reference-image {
        width: 140px;
        margin: 0 auto 15px 0;
        border: 1px solid $border-color;
      }

      .reference-organization {
        font-size: 20px;
      }

      .reference-profit {
        font-size: 16px;
        margin-bottom: 15px;
      }

      .reference-content {

      }

      .reference-name {

      }

      .reference-rating {
        letter-spacing: 3px;
        color: $yellow;
        display: block;
        font-size: 20px;
        margin-bottom: 5px;
      }
    }
  }
}
