@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500');
@import '../node_modules/bootstrap/scss/bootstrap';
@import "assets/styles/variables";
@import "assets/styles/loader";
@import "assets/styles/buttons";
@import "assets/styles/modals";
@import "assets/styles/forms";
@import "assets/styles/tables";

html, body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: $black
  //overflow-x: hidden;
}

body {
  padding-top: 120px;
}

.title {
  text-align: center;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 25px;
  }
}

h3 {

}

h5 {
  margin: 30px 0 5px 0;
}

h6 {
  margin-bottom: 2px;
}

#flashMessages {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 99;

  .alert {
    margin: 5px 0;
    text-align: center;

    p {
      margin: 0;
      font-size: 14px;
    }
  }
}

.box {
  border: 1px solid #dddddd;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.pad-box {
  padding: 50px 20px;
}

.full-height-section {
  height: calc(100vh - 120px);
  display: flex;
  align-items: center;
  background-position-y: top;

  @media (max-height: 500px) {
    height: 400px;
  }
}

.no-max-width {
  width: 100%;
  max-width: none;
}

accordion-group {
  .card {
    border-radius: 0;
    border: 1px solid $border-color;

    .panel-heading {
      cursor: pointer;
      border: 0;
      border-radius: 0;
    }
  }

  &.panel-open {
    .panel-heading {
      border-bottom: 1px solid $border-color !important;
    }
  }
}

.table-hover tbody tr:hover {
  cursor: pointer;
}

.red {
  color: $red;
}

.green {
  color: $green;
}

.yellow {
  color: $yellow;
}

.blue {
  color: $primary-light-blue;
}

