@import "variables";

.modal-backdrop {
  background-color: white;
}

.modal-header {
  border: none;

  .close {
    margin-left: auto;
    cursor: pointer;
    font-size: 30px;
  }
}

.modal-body {
  padding: 0 40px 20px 40px;

  @media (max-width: 768px){
    padding: 0 10px 10px 10px;
  }
}

@media (min-width: 992px) {
  .modal-lg {
    max-width: 992px;
  }
}

