<app-navigation></app-navigation>

<section id="order-sample-section" class="full-height-section">
  <div class="container">
    <div class="box pad-box">
      <h2 class="text-center page-title">Fyll inn for å få gratis vareprøver!</h2>
      <form role="form" [formGroup]="myForm" (ngSubmit)="submitForm(myForm.value)" novalidate>
        <div class="form-group">
          <input type="text"
                 class="form-control" formControlName="organization"
                 placeholder="Klubb/Organisasjon/Russegruppe">
          <div *ngIf="myForm.get('organization').touched">
            <small class="error" *ngIf="myForm.get('organization').hasError('required')">Dette feltet er krevd.
            </small>
            <small class="error" *ngIf="myForm.get('organization').hasError('minlength')">Dette feltet er for kort.
            </small>
          </div>
        </div>

        <div class="form-group">
          <input type="tel"
                 class="form-control" formControlName="phoneNumber"
                 placeholder="Telefonnummer">
          <div *ngIf="myForm.get('phoneNumber').touched">
            <small class="error" *ngIf="myForm.get('phoneNumber').hasError('required')">Dette feltet er krevd.
            </small>
            <small class="error" *ngIf="myForm.get('phoneNumber').hasError('minlength')">Dette feltet er for kort.
            </small>
            <small class="error" *ngIf="myForm.get('phoneNumber').hasError('pattern')">Dette feltet har ugyldig verdi.
            </small>
          </div>
        </div>

        <div class="row">
          <div class="col text-right">
            <button type="submit" class="btn btn-success">Send forespørsel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<app-footer></app-footer>
