<div class="modal-body">
  <button type="button" class="close" aria-label="Close" id="close-signup-modal" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="row justify-content-center" style="margin: 75px 0">
    <div class="col-md-8text-center">
      <h3 class="title" style="margin-bottom: 20px">Fyll inn for å få gratis vareprøver!</h3>
      <form role="form" [formGroup]="myForm" (ngSubmit)="submitForm(myForm.value)" novalidate>
        <div class="form-group">
          <input type="text"
                 class="form-control" formControlName="organization"
                 placeholder="Klubb/Organisasjon/Russegruppe">
          <div *ngIf="myForm.get('organization').touched">
            <small class="error" *ngIf="myForm.get('organization').hasError('required')">Dette feltet er krevd.</small>
            <small class="error" *ngIf="myForm.get('organization').hasError('minlength')">Dette feltet er for kort.</small>
          </div>
        </div>

        <div class="form-group">
          <input type="tel"
                 class="form-control" formControlName="phoneNumber"
                 placeholder="Telefonnummer">
          <div *ngIf="myForm.get('phoneNumber').touched">
            <small class="error" *ngIf="myForm.get('phoneNumber').hasError('required')">Dette feltet er krevd.
            </small>
            <small class="error" *ngIf="myForm.get('phoneNumber').hasError('minlength')">Dette feltet er for kort.
            </small>
            <small class="error" *ngIf="myForm.get('phoneNumber').hasError('pattern')">Dette feltet har ugyldig verdi.
            </small>
          </div>
        </div>

        <div class="row">
          <div class="col text-right">
            <button type="submit" class="btn btn-success">Send forespørsel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
