#order-sample-section {
  background: url("../../../assets/images/team.jpg") center no-repeat;

  @media (max-width: 768px){
    background: url("../../../assets/images/team_mobile.jpg") center no-repeat;
  }
}

.page-title {
  margin-bottom: 40px;
}

