<div class="row" id="block-row">
  <div class="text-center block-col" *ngFor="let block of blocks" [ngClass]="{'col-md-3 col-6': blocks.length === 4, 'col-4': blocks.length === 3, 'col-6': blocks.length === 2, 'col-12': blocks.length === 1}">
    <div class="block block-link" *ngIf="!block.counter">
      <a [routerLink]="[block.routerLink]">
        <span class="block-header {{block.color}}"><i class="fa fa-{{block.icon}}"></i></span>
        <span class="block-title">{{block.title}}</span>
      </a>
    </div>

    <div class="block" *ngIf="block.counter">
      <span class="block-header {{block.color}}">{{block.number}}</span>
      <span class="block-title">{{block.title}}</span>
    </div>
  </div>
</div>
